:root {
  --main-color: #ffffff;
  --text-color: #2e2f42;
  --logo-text-color: #4d5ae5;
  --contact-color: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
  color: var(--contact-color);
  font-size: 16px;
  line-height: 1.5;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
}

header {
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

span {
  color: var(--text-color);
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* .list-link:is(:hover, :active) {
  color: #404bbf;
} */

.list-link:hover,
.list-link:active {
  color: #404bbf;
}

.contacts {
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* .contacts:is(:hover, :focus) {
  color: #404bbf;
} */
