:root {
  --main-color: #ffffff;
  --logo-color: #2e2f42;
  --logo-text-color: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
}

header {
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

span {
  color: #2e2f42;
}
